@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
:root {
  --util-max: 100%;

  --page-font: 'Source Code Pro', monospace;
  --page-lg-width: 75%;
  --page-sml-width: 95%;
  --page-nav-height: 5%;
  --page-height: calc(var(--util-max) - var(--page-nav-height));

  --def-light-color: beige;
  --def-one-border-dark: 1px solid black;
  --def-inset-fade-dark: inset 0px 0px 100px 0px #00000037;
  --def-inset-fade-light: inset 0px 0px 100px 0px rgba(255, 255, 255, 0.048);
  --def-box-shadow-dark: 0px 0px 4px 0px black;

  --lib-rich-black: #0a0f0dfa;
  --lib-sky-blue-crayola: #51E5FF;
}
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  background-color: var(--lib-sky-blue-crayola);
  font-family: var(--page-font);
}
#nav {
  background-color: var(--lib-rich-black);
  height: var(--page-nav-height);
  color: var(--def-light-color);
  display: flex;
  align-items: center;
}
a {
  margin: 0px 20px;
  text-decoration: none;
  color: var(--def-light-color);
  border-bottom: 2px solid var(--def-light-color);
}
#nav a:hover {
  text-shadow: 0px 0px 3px var(--def-light-color);
  border-bottom: 2px solid var(--def-light-color);
}
#page-container {
  color: var(--def-light-color);
  height: var(--page-height);
  width: var(--util-max);
  border: var(--def-one-border-dark);
  box-shadow: var(--def-inset-fade-dark);
  display: flex;
  justify-content: center;
}
#page-backplate {
  width: var(--page-lg-width);
  background-color: var(--lib-rich-black);
  box-shadow:
    var(--def-inset-fade-light),
    var(--def-box-shadow-dark);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#instruction-list {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#definition-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
#definition-form button {
  margin: 0px 20px;
}
#change-definition {
  position: absolute;
  bottom: 5%;
}
#area {
  box-shadow: var(--def-inset-fade-dark);
  resize: none;
  width: 700px;
  height: 400px;
}
@media only screen and (max-width: 1000px) {
  #page-backplate {
    width: var(--page-sml-width);
  }
}
