<div>
  <h1>Define Words</h1>
</div>
<h3>
  Been here before? Click ☛ <a href="/words">New Words</a>
</h3>
<div>Where to start?</div>
<div id="instruction-list">
  <div>1. Enter  word to define</div>
  <div>2. Click on that word</div>
  <div>3. Define your word from there!</div>
</div>
