<form action="/words/<%=@word.glob_id%>/definitions" method='post'>
  <textarea id='area' type='text' name='definition_input'>
  </textarea>
  <div>
    <button type='submit'>Enter Definition</button>
  </div>
</form>