<h1>Define <%=@word.word%></h1>
<%unless @definition%>
  <%=
    "<form action='/word/#{@word.glob_id}' method='post'>
      <textarea id='area' type='text' name='definition_input'>
      </textarea>
      <div>
        <button type='submit'>Enter Definition</button>
      </div>
    </form>"
  %>
<%end%>
<div>
  <%if @definition%>
    <%="Definition: #{@definition.definition}"%>
  <%end%>
</div>

<a id="change-definition" href="/word/<%=@word.glob_id%>/change">Change definition</a>
