<h1>Enter Your Word</h1>

<form action="/words" method="post">
  <input type="text" name="word_input" autocomplete="off">
  <button type="submit">New Word</button>
</form>

<div>
  <ul>
    <%=
      @words && @words.map { |word|
        "<li><a href='words/#{word.glob_id}/definitions/new'>
            #{word.word}
          </a>
        </li>"
      }.map(&:strip).join('')
    %>
  </ul>
</div>